/* Filters */

.letfilter{margin:8px 8px 8px 0px!important; overflow: hidden; }
.letfilter a{
	color: #3d3d3d!important;
    font-family: Franklin Gothic book;
    width: 30px;
    float: left;
    color: #686867;
    cursor: pointer;
    height: 35px;
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    /*text-shadow: 0 0px 0 white;*/
    text-decoration: none;
    background-color: #fff;
    border: 1px dotted #ccc;
    margin-right: 3px;
}
.letfilter a.first{border-radius: 3px 0 0 3px;}
.letfilter a.last{border-right: 1px solid silver; border-radius: 0 3px 3px 0;}
.letfilter a:hover{background:#337AB7; color:#fff!important;}
.letfilter a.active {background-position: -72px; background:#337AB7; color:#fff!important;font-weight:bold;}
.bftitle{margin:0px 0px 8px 0px; font-family: Franklin Gothic book; font-size:14px;}
.allbrands{margin:0px 0px 8px 0px!important;}
.allbrands a{
  margin: 0px 3px 3px 0px;
  padding: 6px 14px 6px 14px;
  display: block;
  float: left;
  background: #337ab7;
  color: #fff;
  font-weight: bold;
  border: 1px solid #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.allbrands a:hover{background:#0a477b; color:#fff;
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.4); -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.4); box-shadow:1px 1px 4px rgba(0,0,0,0.4);
}
.allbrands a i{font-size:11px; font-weight:normal!important; color:#fff;}
.allbrands a span{font-size:11px; font-weight:bold!important; color:#fff;}

.filteredby{float:left; margin:7px 8px 0px 0px;}
.remove{background:#C4DAF2!important; color:#000!important;}
.remove:hover{background:#F2C4C4!important; color:#000;}
.delimg{background: url("images/delete.png"); width:8px; height:8px; float:right; margin:3px 0px 0px 5px;}
.removeall{background:#DEDEDE; padding:5px 14px 5px 14px!important;}
.removeall:hover{background:#F2C4C4!important; }
.removeall div{background: url("images/trash.gif"); width:16px; height:16px;}

/* Sort */
.sortdiv{height:30px; border:0px solid #000; margin:0px 0px 20px 0px; vertical-align:middle;}
.vbox{width:44px; height:42px; float:right; margin:-8px 12px 0px 0px; display:block; background:#0a477b; border:1px solid #ffffff;  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.vbox div{height:42px; background-repeat:no-repeat!important; background-position:5px 5px;}
.vactive{background:-webkit-gradient(linear, center top, center bottom, from(#337ab7), to(#337ab7)); background-image:linear-gradient(#337ab7, #337ab7);  }
.vactive:hover{margin:-9px 12px 0px 0px!important; -webkit-gradient(linear, center top, center bottom, from(#0a477b), to(#0a477b)); background-image:linear-gradient(#0a477b, #0a477b);}
.vtext{float:right; margin:9px 10px 0px 0px;}
.vcard_ div{background-image:url("images/cardview.png"); cursor:pointer;}
.vcard div{background-image:url("images/cardview.png");}
.vcard div:hover{background-image:url("images/cardview_hover.png");}
.vlist_ div{background-image:url("images/listview.png"); cursor:pointer;}
.vlist div{background-image:url("images/listview.png");}
.vlist div:hover{background-image:url("images/listview_hover.png");}

.pricetype{float:right; margin:12px 0px 10px 0px; color:#9E1A00; font-family: Franklin Gothic book; font-size:14px;}
.ttip{ word-wrap: break-word; width:120px;}
.tdbrand{width:120px;}
/* CARD view */
.tditem{position:relative; display:inline!important; float:left;   margin-left: 0px;

}
.tditem:hover{}
.tditem hr{padding:0px!important; margin:6px 0px 6px 0px!important; color:#ffffff!important; height:1px!important; background:#ffffff!important; border-bottom:1px solid #c3c3c3!important; border-top:0px!important; border-left:0px!important; border-right:0px!important;}
.tditem .logobox{height:50px; background-size:contain; background-repeat:no-repeat; background-position:50% 0%; background-color:#fff;}
.tditem .gosrch{padding:30px 10px 0px 10px;}

.tditem .photobox {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.tditem .image {
    /*width: 135px;*/
    /*height: 163px;*/
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 11px;
    color: #878787;
    /*margin: 0px 15px 20px 0px;*/
    padding: 5px;
    border: 1px dotted #BABABA;
    background-color: #fff;
    float: left;
}

.tditem .image:hover {
    border: 1px solid #3A97C9;
    color: #CC2121;
    cursor: pointer;
}
.tditem .addphoto{position:absolute; top:179px; left:11px; background:#74A4E3; color:#fff; text-shadow:1px 1px 1px #000; padding:3px 6px 5px 4px; cursor:default; border-top-right-radius:6px;}
.tditem .cbx_imgs{cursor:pointer;}
.tditem .tdbrand{color:#124D87; font-weight:bold; font-size:13px; font-family:Verdana; width:120px;}
.tditem .tdbrand:hover{color:#C43800; text-decoration:underline;}
.tditem .linked{color:#B00E0E!important;}
.tditem .article{color:#5d5d5d; font-size:13px; font-family:Arial; cursor:default;}
.tditem .aid{color:#be9e9e; font-size:10px; font-family:Verdana; cursor:default;}
.tditem .name{height:55px; margin-bottom:10px; overflow:hidden; cursor:default;}
.tditem .criteria{color:#5b5b5b; font-size:11px;}
.tditem .dopinfo{width:16px; height:16px; background:url('images/dinfo.png'); float:right; display:block; margin:0px 6px 0px 0px;}
.tditem .dopinfo:hover{opacity:0.5; margin-top:-1px;}
.tditem .carsapp{width:16px; height:16px; background:url('images/cars.png'); float:right; display:block; margin:0px;}
.tditem .carsapp:hover{opacity:0.5; margin-top:-1px;}
.tditem .link{display:block; margin-right:4px; float:left; width:16px; height:16px; background:url('images/link.png');}
.pricetab{border-collapse:collapse; background:#fff; margin:0px 0px 6px 0px;}
.pricetab td{cursor:default; padding:4px 7px 4px 7px; border-bottom:1px solid #999999; border-left:1px solid #fff; border-right:1px solid #fff; border-top:1px solid #fff;}
.pricetab .head{cursor:default; background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#D4D4D4)); background-image: linear-gradient(#fff, #D4D4D4); }
.pricetab .head td:hover{background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#E3E3E3)); background-image: linear-gradient(#fff, #E3E3E3);}
.pricetab .prow{font-family:Arial;}
.pricetab .prow:hover{background:#EFF5ED!important;}
.pricetab .options{max-width:50px; overflow:hidden;}
.pricetab .cost{color:#379C08; font-weight:bold;}
.tditem .prices{float:left;}
.tditem .sbut{color:#b42410;}
.tditem .hbut{display:none; color:#b42410;}


/* LIST view */
.tdlist{width:100%;}
.tdlist .head td{padding: 0px 10px 0px 10px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  height: 42px;
  color: #000;
  border-bottom: 2px solid #0a477b;
  background: -webkit-gradient(linear, center top, center bottom, from(#eeeeee), to(#eeeeee));
  background-image: linear-gradient(#eeeeee, #eeeeee);
  font-weight:bold;
}
.tdlist .head1 td{padding: 0px 10px 0px 10px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  height: 42px;
  color: #fff;
  background: -webkit-gradient(linear, center top, center bottom, from(#337ab7), to(#337ab7));
  background-image: linear-gradient(#337ab7, #337ab7);
}
.tdlist .cols td{vertical-align:top; padding:10px 8px 10px 8px; border-bottom:1px solid #D1D1D1;}
.tdlist .cols:hover{background:#fff; cursor: pointer !important;}
.tdlist .tdbrand a{color:#337ab7; font-weight:bold; font-size:12px; font-family:Verdana; line-height:18px;}
.tdlist .tdbrand a:hover{color:#0a477b;}
.tdlist .lookup_analogues{
  background: #337ab7 url('images/srwhite.gif') 0px 2px no-repeat;
  color: #fff;
  float: right;
 margin: 10px -4px 0px 0px;
  text-decoration: none;
  font-size: 11px;
  padding: 3px 5px 4px 18px;
  border-radius: 3px;}
.tdlist .lookup_analogues:hover{background:#0a477b url('images/srwhite.gif') 0px 2px no-repeat; color:#ffffff; text-decoration:none; }
.tdlist .propstb td{padding:0px!important; border:0px!important;}
.tdlist .linked{color:#C43800!important;}
.tdlist .link{display:block; margin-right:4px; float:left; width:16px; height:16px; background:url('images/link.png');}
.tdlist .article{color:#000; font-size:13px; font-family:Verdana; cursor:default;}
.tdlist .gosrch{
  background: url('images/search.png') no-repeat;
  width: 140px;
  height: 120px;
  padding-left: 18px;
  font-size: 12px;
  padding-top: 0;
    margin: 70px 25px;
}
.tdlist .listphoto{background:url('images/fotopic.png') no-repeat; width:27px; height:16px;}
.tdlist .prevphoto{width:100px; height:80px; margin:-5px -5px -5px -5px;   border: 1px dotted #c1c1c1; background-size:contain; background-repeat:no-repeat; background-position:50% 50%; background-color:#fff;}
.tdlist .prevphoto:hover{  border: 1px dotted #3A97C9;
  color: #CC2121;
  cursor: pointer;}
.tdlist .addphoto{font-size:10px; float:left; background:#337ab7; color:#fff; padding:1px 4px 3px 3px; cursor:default; border-bottom-right-radius:6px;}
.tdlist .name{color:#363636;}
.tdlist .dopinfo{width:16px; height:16px; background:url('images/dinfo.png')  no-repeat; float:left; display:block; margin:0px 6px 0px 0px;}
.tdlist .dopinfo:hover{opacity:0.5; margin-top:-1px;}
.tdlist .options{text-align:right;}
.tdlist .rigbord{border-right:1px solid #D1D1D1!important;}
.tdlist .carsapp{width:16px; height:16px; background:url('images/cars.png')  no-repeat; float:left; display:block; margin:0px;}
.tdlist .carsapp:hover{opacity:0.5; margin-top:-1px;}
.tdlist .sbut{color:#0a477b; display:block; padding:0px 0px 6px 0px; text-align:center;}
.tdlist .optionstab{float:right;}
.tdlist .optionstab td{padding:0px!important; height:37px!important; border:0px;}
.tdlist .criteria{color:#5b5b5b; font-size:11px;}
.tdlist .topbord{border-top:1px solid #D1D1D1!important;}
.tdlist .itemprops{height:44px; overflow:hidden; margin:0px 0px 3px 0px; line-height:14px!important;}
.tdlist .moreprops{font-size:11px;}
.tdlist .moreprops:hover{color:#B85C00;}
.tdlist .criteria{font-size:11px;}

.listprice td{border:0px solid #D1D1D1; text-align:left!important; position:relative;}
.listprice .thead td{padding:0px 0px 0px 5px!important; border-bottom:0px!important;}
.listprice .trow td{padding:0px 0px 0px 5px!important; line-height:36px; border-bottom:0px!important;}

/* LIST price width */
.listprice{width: 350px;}
.listprice .avail{width:55px;}
.listprice .day{width:68px;}
.listprice .cost{width:85px;}
.listprice .tocart{width:95px;}

.listprice .trow .avail{color:#000; font-weight:bold; width: 65px;}
.listprice .trow .day{ text-indent:5px; /*background:url('images/sclock.png') 0% 50% no-repeat;*/ white-space: nowrap; overflow:hidden; text-overflow:ellipsis; font-weight:bold; width: 75px; left: 0px; float: left;}
.pict_sup{float:left; margin-left: -5px;}
.green{ background-color:#ADFFAB;}
.listprice .trow .cost{color:#000; font-weight:bold; width: 105px;}
.listprice .trow .tocart{padding-top:7px!important;}

.tdlist .tdbrand .pc-search-title {
    color: #337ab7;
    font-weight: bold;
    font-size: 15px;
    font-family: Verdana;
    line-height: 22px;
}

.pc-service-info {
    display: none;
}

.tdlist .pc-icon {
    float: left;
    display: block;
    margin: 0 6px 0 0;
}

.tdlist .pc-icon-left {
    margin-right: 20px;
}

.tdlist .pc-icon .glyphicon {
    font-size: 22px;
    color: #337ab7;
}